---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

--- 

<Layout title="Louis Vuiiton">

    <main class=" max-w-[85rem] mx-auto mt-60"> 
        <h1 class=" text-start text-7xl text-[#faf8f5] mb-40 ">Louis Vuitton</h1>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/LouisVuitton/l1.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l2.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l3.png' title='Louis Vuitton' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l4.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/LouisVuitton/l5.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l6.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l7.png' title='Louis Vuitton' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l8.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/LouisVuitton/l9.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l11.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
            <Card href='/' img='/LouisVuitton/l12.png' title='Louis Vuitton' tipo='Bermuda' tallas='Tallas S/XL' precio='50€'></Card>
            <Card href='/' img='/LouisVuitton/l13.png' title='Louis Vuitton ' tipo='Camiseta' tallas='Tallas S/XL' precio='45€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/LouisVuitton/l14.png' title='Louis Vuitton ' tipo='Bermuda' tallas='Tallas S/XL' precio='50€'></Card>
            <Card href='/' img='/LouisVuitton/l10.png' title='Louis Vuitton ' tipo='Bermuda' tallas='Tallas S/XL' precio='50€'></Card>
            <Card href='/' img='/LouisVuitton/l16.png' title='Louis Vuitton' tipo='Sudadera' tallas='Tallas S/XL' precio='50€'></Card>
            <Card href='/' img='/LouisVuitton/l17.png' title='Louis Vuitton ' tipo='Sudadera' tallas='Tallas S/XL' precio='50€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/LouisVuitton/l20.png' title='Louis Vuitton' tipo='Sudadera' tallas='Tallas S/XL' precio='50€'></Card>
            <Card href='/' img='/LouisVuitton/l21.png' title='Louis Vuitton ' tipo='Sudadera' tallas='Tallas S/XL' precio='50€'></Card>
        </div>
        
    </main>

</Layout>