---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="marca nike">
    <main class=" max-w-[85rem] mx-auto mt-48 sm:mt-60"> 
        <h1 class=" leading-normal text-center sm:text-start text-5xl sm:text-7xl text-[#faf8f5] mb-28 sm:mb-40 ">Zapatilla Nike</h1>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/1 (2)' img='/nike/1 (2).png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/1.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/2 (2).png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/2 (3).png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/nike/3.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/4.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/5.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/6.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/nike/7 (2).png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/8.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/9.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/10.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/nike/11.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/12 (2).png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/13.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/nike/14.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/dunk1.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/dunk2.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/jordan.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/jordan.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/dunk1.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/dunk2.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/jordan.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/jordan.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/dunk1.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/dunk2.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/jordan.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/jordan.png' title='New Balance 990v3 Sea Salt ' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
    </main>

</Layout>  
