---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="marca">
    <main class=" max-w-[85rem] mx-auto mt-48 sm:mt-60"> 
        <h1 class=" leading-normal text-center sm:text-start text-5xl sm:text-7xl text-[#faf8f5] mb-28 sm:mb-40 ">Ugg Tasman</h1>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-1.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-2.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-3.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-4.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-5.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-6.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
            <Card href='/' img='/ugg-tasman/Ugg-Tasman-7.webp' title='Ugg Tasman' tipo='Zapatillas' tallas='Tallas 36/45' precio='80€'></Card>
        </div>
    </main>


</Layout>

