<footer class=" p-10 mb-10 sm:mb-0 bg-[#111111]">
    <nav class="flex flex-col justify-start sm:grid sm:grid-cols-3  max-w-[80rem] mx-auto sm:h-[5rem]">


    <a class="tracking-widest text-center text-white mb-14 sm:mb-0 " href="/">
        SNEAKERS <br>
        <span class=" font-bold">HUB01</span>
    </a>

    <div class="flex flex-col sm:flex-row sm:justify-between gap-10 sm:gap-20">

        <ul class=" text-white tracking-widest leading-relaxed">
            <li class=" mb-2 "><p><strong>ACERCA DE</strong></p></li>
            <li><a href="#">Informacion</a></li>
            <li><a href="/nike">Productos</a></li>
        </ul>
        
        <ul class="text-white tracking-widest leading-relaxed">
            <li class="mb-2 "><p><strong>CONTACTO</strong></p></li>
            <li><a href="https://wa.me/#34601516745">WhatsApp</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="mailto:store.barcelona@outlook.com">store.barcelona@outlook.com</a></li>
        </ul>
        
    </div>

    </nav>    
</footer>

<style>
    footer {
        max-width: 220rem;
        width: 100%;
    }

    ul{
        list-style: none;
    }
   li{
    font-size: 15px;
   }
   li > a{
    font-family: 'Anton', sans-serif;		
	font-size: 15px;
	font-weight: 900;
    padding: 7px;
    transition: .15s ease-in-out;
    }

   a:hover{
        color: #fff;
        text-shadow: 7px 7px 15px rgba(255, 2, 141, 25);
    }
</style>