---

---

<header class=" left-0 right-0  mx-auto fixed top-0 z-10">
    <nav id="nav" class=" flex justify-between lg:justify-start p-5 text-[#faf8f5]">
        <a class=" h-0  text-center" href="/">
        SNEAKERS <br>
        <span class=" font-bold">HUB01</span>
        </a>
        
        <ul class=" flex justify-between p-7 items-center sm:hidden bg-[#faf8f5] fixed bottom-0 w-full h-12 left-0 rounded-md z-20">
            <li>
                <a href="/"><img src="/icon/icon-home.png" class="w-10" ></a>
            </li>
            <li>
                <a href=""><img src="/icon/icon-whatsapp.png" alt="p-0 w-10 "></a>
            </li>
            <li id="mobile-menu"><img src="/icon/icon-shopping.png" class=" w-10" ></li>
        </ul>

      

        <div id="divNav"  class=" lg:flex flex-col ml-0">

            <button id="table-menu" class="hidden sm:block lg:hidden sm:hover:cursor-pointer">
                <img src="/public/icon/table-menu.png" alt="">
            </button>
                
          
            <ul   class=" p-4 flex mb-2">
                <li class="hidden lg:inline"><a id="zapatilla" class=" m-4 sm:inline" href="/zapatilla">MARCAS</a></li>
                <li class="hidden lg:inline"><a href="">WHATSAPP</a></li>
            </ul>
            <div id="marcaZapatilla" class=" lista  flex flex-col lg:flex-row  lg:gap-20 scroll-container">

                <button id="close-menu" class=" m-20px">
                <img  src="/public//icon//close-menu.png" alt="">
                </button>

                <h3 class=" text-2xl lg:hidden text-black mb-10 "> Selecciona tu marca favorita</h3>
                
                <ul class=" text-xs lg:text-sm marcas p-1  text-black leading-normal">
                    <li><a class="i icon1" href="/nike">Nike</a></li>
                    <li><a class="i icon2" href="/newBalance"></a>New Balance</li>
                    <li><a class="i icon3" href="/adidas"></a>Adidas</li>
                    <li><a class="i icon4" href="/converse"></a>Converse</li>
                    <li><a class="i icon5" href="/trapstar"></a>Trapstar</li>
                    <li><a class="i icon6" href="/dolceAndGabbana"></a>Dolce and Gabbana</li>
                    <li><a class="i icon7" href="/balenciaga"></a>Balenciaga</li>
                    <li><a class="i icon8" href="/louisVuitton">Louis Vuiiton</a></li>
                </ul>
                <ul class="text-xs lg:text-sm  p-1 text-black leading-normal">
                    <li><a class="i icon9" href="/bape"></a>Bape</li>
                    <li><a class="i icon10" href="/versace"></a>Versace</li>
                    <li><a class="i icon11" href="/louboutin"></a>Louboutin</li>
                    <li><a class="i icon12" href="/alexanderMcQueen"></a>Alexander McQueen</li>
                    <li><a class="i icon13" href="/uggTasman"></a>Ugg Tasman</li>
                    <li><a class="i icon14" href="/theNorthFace"></a>The North Face</li>
                    <li><a class="i icon15" href="/prada"></a>Prada</li>
                    <li><a class="i icon16" href="/palmangels"></a>Palm Angels</li>
                </ul>
                <ul class="text-xs lg:text-sm p-1 text-black leading-normal">
                    <li><a class="i icon17" href="/offWhite"></a>Off White</li>
                    <li><a class="i icon18" href="/moncler"></a>Moncler</li>
                    <li><a class="i icon19" href="/loewe"></a>Loewe</li>
                    <li><a class="i icon20" href="/gucci"></a>Gucci</li>
                    <li><a class="i icon21" href="/givenchy"></a>Givenchy</li>
                    <li><a class="i icon22" href="/dsquared2"></a>Dsquared2</li>
                    <li><a class="i icon23" href="/dior"></a>Dior</li>
                    <li><a class="i icon24" href="/corteiz"></a>Corteiz</li>
                </ul>

                <ul class="text-xs lg:text-sm p-1 text-black leading-normal">
                <li><a class="i icon25" href="/celine"></a>Celine</li>
                <li><a class="i icon26" href="/burberry"></a>Burberry</li>
                <li><a class="i icon27" href="/balmain"></a>Balmain</li>
                <li><a class="i icon28" href="/amiri"></a>Amiri</li>
                <li><a class="i icon29" href="/fogessentials"></a>Fear of God Essentials</li>
                <li><a class="i icon30" href="/goldenGooseStardan"></a>Golden Goose Stardan</li>
                <li><a class="i icon31" href="/bolsos"></a>Bolsos</li>
                </ul>

            </div>
        </div>
    </nav>
    
</header>

<style>


@media ( max-width: 1024px) { 
    .scroll-container {
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
}


header{
    animation: header-bg linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 50vh;
}

@keyframes header-bg {
	from {
		background-color: transparent;
	}
	to {
		background-color: #111111;
	}
}


li > i {
    padding: .5rem;
    text-align: center;
}

.lista{
    display: none;
    /* transform: translateY(-10px);
    transition: transform .1s, opacity .1s; */
}

.lista-marcas{
    display: flex;
}

.nav-abierto{
    display: block;
}


.nav-desplegado-mobile{
    display: block;
    position: fixed;
    background-color: #faf8f5;
    height:100%;
    width: 325px;
    top: 0;
    padding: 2rem;
    border-radius: 20px 0 0 20px;
    animation: despliegueNavMobile 0.5s both;

}

@keyframes despliegueNavMobile {
    from {
        transform: translateX(0%);
        opacity: 0;
    }
    to {
        transform: translateX(-80%); 
        opacity: 1;
    }
}

/* @keyframes despliegueNavMobile {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(-260px); 
        opacity: 1;
    }
} */

@keyframes ocultarNavMobile  {
    from {
        transform: translateX(-260px); 
        opacity: 1;
    }
    to {
        transform: translateX(300px);
        opacity: 0;
    }
}

.nav-desplegado-menu.abierto {
    animation: despliegueNavMobile 0.5s both;
}

.nav-desplegado-menu.cerrado {
    animation: ocultarNavMobile 0.5s both;
}

.nav-desplegado{
    color: #000;
    margin: 0 auto;
    height:22rem;
    width:100vw;
    background-color: #faf8f5;   
    animation: despliegue 0.5s ease-in-out forwards;
}

@keyframes despliegue {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 22rem;
        opacity: 1;
    }
}


@media ( min-width: 768px) { 
    
    a{
            letter-spacing: 3px;
            padding: 7px;
            transition: .15s ease-in-out;
        }
}
    
        
    
    .i > a:hover{
        color: #fff;    
    }

  
    ul{
        text-decoration: none;
    }

    li{
        transition: .1s ease-in;
    }

    ul li:hover{
        cursor: pointer;
        background-color: #C92CB9;
        color: #faf8f5;
        border-radius: 5px;
    }




.marcas .icon1::before {
    content: url(/icon/logo-nike.svg);
    position: relative;
    top:5px;
}

.marcas .icon2::before {
    content: url(/icon/logo-new-balance.svg);
    position: relative;
    top:5px
}

.marcas .icon3::before {
    content: url(/icon/logo-adidas.svg);  
    position: relative;
    top:5px
}

.marcas .icon4::before {
    content: url(/icon/logo-converse.svg);  
    position: relative;
    top:5px
}
.marcas .icon5::before {
    content: url(/icon/logo-trapstart.svg);  
    position: relative;
    top:5px
}
.marcas .icon6::before {
    content: url(/icon/logo-dolce-and-gabbana.svg);  
    position: relative;
    top:5px
}
.marcas .icon7::before {
    content: url(/icon/logo-balenciaga.svg);  
    position: relative;
    top:5px
}
.icon8::before{
    content: url(/icon/logo-louis-vuitton.svg);  
    position: relative;
    top:5px
}    
.icon9::before{
    content: url(/icon/logo-bape.svg);  
    position: relative;
    top:5px
}    
.icon10::before{
    content: url(/icon/logo-versace.svg);  
    position: relative;
    top:5px
}    
.icon11::before{
    content: url(/icon/logo-louboutin.svg);  
    position: relative;
    top:5px
}    
.icon12::before{
    content: url(/icon/logo-alexander-mc.svg);  
    position: relative;
    top:5px
}    
.icon13::before{
    content: url(/icon/logo-ugg.svg);  
    position: relative;
    top:5px
}    
.icon14::before{
    content: url(/icon/logo-the-north-face.svg);  
    position: relative;
    top:5px
}    
.icon15::before{
    content: url(/icon/logo-prada.svg);  
    position: relative;
    top:5px
}    
.icon16::before{
    content: url(/icon/logo-palm-angels.svg);  
    position: relative;
    top:5px
}    
.icon17::before{
    content: url(/icon/logo-offwhite.svg);  
    position: relative;
    top:5px
}
.icon18::before{
    content: url(/icon/logo-moncler.svg);  
    position: relative;
    top:5px
}
.icon19::before{
    content: url(/icon/loewe-2.svg);  
    position: relative;
    top:5px;
}    
.icon20::before{
    content: url(/icon/logo-gucci.svg);  
    position: relative;
    top:5px;
}    
.icon21::before{
    content: url(/icon/logo-givenchy.svg);  
    position: relative;
    top:5px;
}    
.icon22::before{
    content: url(/icon/logo-dsquared.svg);  
    position: relative;
    top:5px;
}    
.icon23::before{
    content: url(/icon/logo-dior.svg);  
    position: relative;
    top:5px;
}    
.icon24::before{
    content: url(/icon/logo-corteiz.svg);  
    position: relative;
    top:5px;
}
.icon25::before{
    content: url(/icon/logo-celine.svg);  
    position: relative;
    top:5px;
}

.icon26::before{
    content: url(/icon/logo-burberry.svg);  
    position: relative;
    top:5px;
}    
.icon27::before{
    content: url(/icon/logo-balmain.svg);  
    position: relative;
    top:5px;
}    
.icon28::before{
    content: url(/icon/logo-amiri.svg);  
    position: relative;
    top:5px;
}    
.icon29::before{
    content: url(/icon/logo-essentials.svg);  
    position: relative;
    top:5px;
}    
.icon30::before{
    content: url(/icon/logo-golden-goose.svg);  
    position: relative;
    top:5px;
}    
</style>

<script>
    
    const mobileMenu:any= document.getElementById("mobile-menu")
    const tableMenu:any= document.getElementById("table-menu")
    const closeMenu:any= document.getElementById("close-menu")
    const marcaZapatilla = (document.getElementById("marcaZapatilla") as HTMLInputElement);
   

    let estado = false;

    mobileMenu.addEventListener('click', () => {
    if((window.innerWidth <= 640)){
        marcaZapatilla.classList.toggle('lista-marcas')
        marcaZapatilla.classList.toggle('nav-desplegado-mobile')
        marcaZapatilla.classList.toggle('abierto');
    }
        // if (estado === false) {
        //     marcaZapatilla.style.animationName = 'despliegueNavMobile'; 
        //     estado = true
        //  }
        // else if(estado === true) {
        //     marcaZapatilla.style.animationName = 'ocultarNavMobile'; 
        //     estado = false
        // }
        
    })

    closeMenu.addEventListener('click', () => {
        if(window.innerWidth <= 960){
            marcaZapatilla.classList.toggle('lista-marcas')
            marcaZapatilla.classList.toggle('nav-desplegado-mobile')
            marcaZapatilla.classList.toggle('abierto');

        }
    })

    tableMenu.addEventListener('click', () => {
        if((window.innerWidth >= 640 && window.innerWidth <= 960)){
        marcaZapatilla.classList.toggle('lista-marcas')
        marcaZapatilla.classList.toggle('nav-desplegado-mobile')
        marcaZapatilla.classList.toggle('abierto');
    }
    })
    
    
    // document.addEventListener('click', function() {
    //     if(estado === true) {
    //         nav.classList.toggle("nav-desplegado-mobile")
    //         estado = false
    //     }
    //   });
    
    </script>