---

---

<header class=" left-0 right-0  mx-auto fixed top-0 z-10">
    <nav id="nav" class=" flex justify-between sm:justify-start p-5 text-[#faf8f5]">
        <a class=" h-0  text-center" href="/">
        SNEAKERS <br>
        <span class=" font-bold">HUB01</span>
        </a>
        
        <ul class=" flex justify-between p-7 items-center sm:hidden bg-[#faf8f5] fixed bottom-0 w-full h-12 left-0 rounded-md z-20">
            <li>
                <a href="/"><img src="/icon/icon-home.png" class="w-10" ></a>
            </li>
            <li>
                <a href=""><img src="/icon/icon-whatsapp.png" alt="p-0 w-10 "></a>
            </li>
            <li id="mobile-menu"><img src="/icon/icon-shopping.png" class=" w-10" ></li>
        </ul>

        <div id="divNav"  class="sm:flex flex-col ml-24">
            <ul   class=" p-4 flex mb-2">
                <li class="hidden sm:inline"><a id="zapatilla" class=" m-4 sm:inline" href="/zapatilla">MARCAS</a></li>
                <li class="hidden sm:inline"><a href="">WHATSAPP</a></li>
            </ul>
            <div id="marcaZapatilla" class="nav-desplegado-menu lista  flex flex-col sm:flex-row  sm:gap-20 ">
                <h3 class=" text-2xl sm:hidden text-black mb-10 "> Selecciona tu marca favorita</h3>
                <ul class=" marcas p-1  text-black leading-normal">
                    <li><a class="i icon1" href="/nike">Nike</a></li>
                    <li><a class="i icon2" href="/newBalance"></a>New Balance</li>
                    <li><a class="i icon3" href="/adidas"></a>Adidas</li>
                    <li><a class="i icon4" href="/converse"></a>Converse</li>
                    <li><a class="i icon5" href="/trapstar"></a>Trapstar</li>
                    <li><a class="i icon6" href="/dolceAndGabbana"></a>Dolce and Gabbana</li>
                    <li><a class="i icon7" href="/balenciaga"></a>Balenciaga</li>
                </ul>
                <ul class=" p-1 text-black leading-normal">
                    <li><a class="i icon8" href="/louisVuitton">Louis Vuiiton</a></li>
                    <li><a class="i icon9" href="/goldenGooseStardan"></a>Golden Goose Stardan</li>
                    <li><a class="i icon10" href="/versace"></a>Versace</li>
                    <li><a class="i icon11" href="/louboutin"></a>Louboutin</li>
                    <li><a class="i icon12" href="/alexanderMcQueen"></a>Alexander McQueen</li>
                    <li><a class="i icon13" href="/uggTasman"></a>Ugg Tasman</li>
                    <li><a class="i icon13" href="/theNorthFace"></a>The North Face</li>
                </ul>
                <ul class=" p-1 text-black leading-normal">
                    <li><a class="i icon13" href="/prada"></a>Prada</li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>

<style>

li > i {
    padding: .5rem;
    text-align: center;
}



.lista{
    display: none;
    /* transform: translateY(-10px);
    transition: transform .1s, opacity .1s; */

}

.lista-marcas{
    display: flex;
}

.nav-abierto{
    display: block;
}


.nav-desplegado-mobile{
    position: fixed;
    background-color: #faf8f5;
    height:94%;
    width: 80%;
    top: 0;
    padding: 2rem;
    border-radius: 20px 0 0 20px;
    animation: despliegueNavMobile 0.5s both;

}

@keyframes despliegueNavMobile {
    from {
        transform: translateX(0%);
        opacity: 0;
    }
    to {
        transform: translateX(-80%); 
        opacity: 1;
    }
}

/* @keyframes despliegueNavMobile {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(-260px); 
        opacity: 1;
    }
} */

@keyframes ocultarNavMobile  {
    from {
        transform: translateX(-260px); 
        opacity: 1;
    }
    to {
        transform: translateX(300px);
        opacity: 0;
    }
}

.nav-desplegado-menu.abierto {
    /* Aplicar animación para abrir el menú */
    animation: despliegueNavMobile 0.5s both;;
}

.nav-desplegado-menu.cerrado {
    /* Aplicar animación para cerrar el menú */
    animation: ocultarNavMobile 0.5s both;;
}

.nav-desplegado{
    color: #000;
    margin: 0 auto;
    height:22rem;
    width:100vw;
    background-color: #faf8f5;   
    animation: despliegue 0.5s ease-in-out forwards;
    
}

@keyframes despliegue {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 22rem;
        opacity: 1;
    }
}


    @media ( min-width: 768px) { 
    a{
        letter-spacing: 3px;
        padding: 7px;
        transition: .15s ease-in-out;
    }
    }
        
    
    .i > a:hover{
        color: #fff;    
    }

  
    ul{
        text-decoration: none;
    }

    li{
        transition: .1s ease-in;
    }

    ul li:hover{
        cursor: pointer;
        background-color: #C92CB9;
        color: #faf8f5;
        border-radius: 5px;
    }



.marcas .icon1::before {
    content: url(/icon/NK.png);
    position: relative;
    top:5px
}

.marcas .icon2::before {
    content: url(/icon/new.png); /* Ruta al segundo tipo de icono */
    position: relative;
    top:5px
}

.marcas .icon3::before {
    content: url(/icon/adidas.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}

.marcas .icon4::before {
    content: url(/icon/logo-converse.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}
.marcas .icon5::before {
    content: url(/icon/logo-trapstar.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}
.marcas .icon6::before {
    content: url(/icon/D&G-logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}
.marcas .icon7::before {
    content: url(/icon/balenciaga-logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}


.icon8::before{
    content: url(/icon/LV.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}    
.icon9::before{
    content: url(/icon/bape-logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}    
.icon10::before{
    content: url(/icon/versace-logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}    
.icon11::before{
    content: url(/icon/lougoutin-logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}    
.icon12::before{
    content: url(/icon/alexander-logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}    
.icon13::before{
    content: url(/icon/UGG_logo.png);  /* Ruta al tercer tipo de icono */
    position: relative;
    top:5px
}    
</style>

<script>
    
    const mobileMenu:any= document.getElementById("mobile-menu")
    const marcaZapatilla = (document.getElementById("marcaZapatilla") as HTMLInputElement);

    let estado = false;

    mobileMenu.addEventListener('click', () => {
    if((window.innerWidth <= 640)){
        marcaZapatilla.classList.toggle('lista-marcas')
        marcaZapatilla.classList.toggle('nav-desplegado-mobile')
        marcaZapatilla.classList.toggle('abierto');
    }
        // if (estado === false) {
        //     marcaZapatilla.style.animationName = 'despliegueNavMobile'; 
        //     estado = true
        //  }
        // else if(estado === true) {
        //     marcaZapatilla.style.animationName = 'ocultarNavMobile'; 
        //     estado = false
        // }
        
    })
    
    
    // document.addEventListener('click', function() {
    //     if(estado === true) {
    //         nav.classList.toggle("nav-desplegado-mobile")
    //         estado = false
    //     }
    //   });
    
    </script>