---

---

<header class=" left-0 right-0  mx-auto fixed top-0 z-10">
    <nav id="nav" class=" flex justify-between lg:justify-start p-5 text-[#faf8f5] ">
        <a class="p-2 h-0  text-center tracking-[3px]" href="/">
        SNEAKERS <br>
        <span class=" font-bold">HUB01</span>
        </a>
        
        <ul class=" flex justify-between p-7 items-center sm:hidden bg-[#faf8f5] fixed bottom-0 w-full h-12 left-0 rounded-md z-20">
            <li>
                <a href="/"><img src="/icon/icons-home.svg" alt="boton de inicio, redirigir al inicio" class="w-10" ></a>
            </li>
            <li>
                <a title="Escribenos" href="https://wa.me/34601516745" target="_blank"><img src="/icon/icons-whatsapp.svg" alt=" redireccionar a numero de contacto whatsapp"></a>
            </li>
            <li id="mobile-menu"><img src="/icon/icons-menu.svg" class=" w-10" alt="boton deplegar lista producto"></li>
        </ul>

      

        <div id="divNav"  class=" lg:flex flex-col ml-0 ">

            <button id="table-menu" class="hidden sm:block lg:hidden sm:hover:cursor-pointer">
                <img class=" w-10" src="/icon/menu.svg" alt="boton deplegar lista producto">
            </button>
                
          
            <ul   class=" xl:ml-32 p-4 flex mb-2">
                <li class="hidden lg:inline tracking-[3px]"><a id="zapatilla" class=" m-4 sm:inline" href="/nike">MARCAS</a></li>
                <li  class="hidden lg:inline tracking-[3px]"><a title="Escribenos" class="m-4 sm:inline" href="https://wa.me/34601516745" target="_blank">WHATSAPP</a></li>
            </ul>
            <div id="marcaZapatilla" class=" lista  flex flex-col lg:flex-row xl:gap-16 scroll-container  ">

                <button id="close-menu" class="lg:hidden ml-[14rem] hover:bg-gray-300 rounded-lg transition">
                <img  src="/icon/close-menu.svg" alt="boton cerrar lista de producto">
                </button>

                <h3 class=" text-2xl lg:hidden text-black mb-10 "> Selecciona tu marca favorita</h3>
                
                <ul class=" xl:ml-36 w-60 text-xs xl:text-sm marcas p-1  text-black leading-normal">
                    <li><a class="i icon1" href="/nike">Nike</a></li>
                    <li><a class="i icon2" href="/NewBalance">New Balance</a></li>
                    <li><a class="i icon3" href="/adidas">Adidas</a></li>
                    <li><a class="i icon4" href="/converse">Converse</a></li>
                    <li><a class="i icon5" href="/trapstar">Trapstar</a></li>
                    <li><a class="i icon6" href="/dolceAndGabbana">Dolce Gabbana</a></li>
                    <li><a class="i icon7" href="/balenciaga">Balenciaga</a></li>
                    <li><a class="i icon8" href="/LouisVuitton">Louis Vuiiton</a></li>
                </ul>
                <ul class="w-52 text-xs xl:text-sm  p-1 text-black leading-normal ">
                    <li><a class="i icon9" href="/bape">Bape</a></li>
                    <li><a class="i icon10" href="/versace">Versace</a></li>
                    <li><a class="i icon11" href="/louboutin">Louboutin</a></li>
                    <li><a class="i icon13" href="/uggTasman">Ugg Tasman</a></li>
                    <li><a class="i icon14" href="/theNorthFace">The North Face</a></li>
                    <li><a class="i icon15" href="/prada">Prada</a></li>
                    <li><a class="i icon16" href="/palmangels">Palm Angels</a></li>
                    <li><a class="i icon17" href="/offWhite">Off White</a></li>
                </ul>
                <ul class="w-52 text-xs xl:text-sm p-1 text-black leading-normal">
                    <li><a class="i icon18" href="/moncler">Moncler</a></li>
                    <li><a class="i icon19" href="/loewe">Loewe</a></li>
                    <li><a class="i icon20" href="/gucci">Gucci</a></li>
                    <li><a class="i icon21" href="/givenchy">Givenchy</a></li>
                    <li><a class="i icon22" href="/dsquared2">Dsquared2</a></li>
                    <li><a class="i icon23" href="/dior">Dior</a></li>
                    <li><a class="i icon24" href="/corteiz">Corteiz</a></li>
                    <li><a class="i icon25" href="/celine">Celine</a></li>
                </ul>

                <ul class="text-xs lg:text-sm p-1 text-black leading-normal">
                <li><a class="i icon26" href="/burberry">Burberry</a></li>
                <li><a class="i icon27" href="/balmain">Balmain</a></li>
                <li><a class="i icon28" href="/amiri">Amiri</a></li>
                <li><a class="i icon12" href="/alexanderMcQueen">Alexander McQueen</a></li>
                <li><a class="i icon29" href="/fogessentials">Fear of God Essentials</a></li>
                <li><a class="i icon30" href="/goldenGooseStardan">Golden Goose Stardan</a></li>
                <li><a class="i icon31" href="/bolsos">Bolsos</a></li>
                </ul>

            </div>
        </div>
    </nav>
    
</header>

<style>


@media ( max-width: 1024px) { 
    .scroll-container {
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
}


header{
    animation: header-bg linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 50vh;
}

@keyframes header-bg {
	from {
		background-color: transparent;
	}
	to {
		background-color: #111111;
	}
}


li > .i {
    margin-left: 15px;
}

.lista{
    display: none;
}

.lista-marcas{
    display: flex;
}

.nav-abierto{
    display: block;
}


.nav-desplegado-mobile{
    display: block;
    position: fixed;
    background-color: #faf8f5;
    height:100%;
    width: 325px;
    top: 0;
    padding: 2rem;
    border-radius: 20px 0 0 20px;
}

@keyframes despliegueNavMobile {
    from {
        transform: translateX(0%);
        opacity: 0;
    }
    to {
        transform: translateX(-80%); 
        opacity: 1;
    }
}


@keyframes ocultarNavMobile  {
    from {
        transform: translateX(-80%); 
        opacity: 1;
    }
    to {
        transform: translateX(0%);
        opacity: 0;
    }
}


.nav-desplegado{
    color: #000;
    margin: 0 auto;
    height:25rem;
    width:100vw;
    background-color: #faf8f5;   
    animation: despliegue 0.5s ease-in-out forwards;
}

@keyframes despliegue {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 25rem;
        opacity: 1;
    }
}        
    
    .i > a:hover{
        color: #fff;    
    }

    ul > li{
        padding: 3px;
    }
  
    ul{
        text-decoration: none;
    }

    li{
        transition: .1s ease-in;
    }

    ul li:hover{
        cursor: pointer;
        background-color: #C92CB9;
        color: #faf8f5;
        border-radius: 5px;
    }




.marcas .icon1::before {
    content: url(/icon/logo-nike.svg);
    position: relative;
    top:5px;
    right: 5px;
}

.marcas .icon2::before {
    content: url(/icon/logo-new-balance.svg);
    position: relative;
    top:5px;
    right: 5px;
}

.marcas .icon3::before {
    content: url(/icon/logo-adidas.svg);  
    position: relative;
    top:5px;
    right: 5px;
}

.marcas .icon4::before {
    content: url(/icon/logo-converse.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.marcas .icon5::before {
    content: url(/icon/logo-trapstart.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.marcas .icon6::before {
    content: url(/icon/logo-dolce-and-gabbana.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.marcas .icon7::before {
    content: url(/icon/logo-balenciaga.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.icon8::before{
    content: url(/icon/logo-louis-vuitton.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon9::before{
    content: url(/icon/logo-bape.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon10::before{
    content: url(/icon/logo-versace.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon11::before{
    content: url(/icon/logo-louboutin.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon12::before{
    content: url(/icon/logo-alexander-mc.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon13::before{
    content: url(/icon/logo-ugg.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon14::before{
    content: url(/icon/logo-the-north-face.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon15::before{
    content: url(/icon/logo-prada.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon16::before{
    content: url(/icon/logo-palm-angels.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon17::before{
    content: url(/icon/logo-offwhite.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.icon18::before{
    content: url(/icon/logo-moncler.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.icon19::before{
    content: url(/icon/loewe-2.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon20::before{
    content: url(/icon/logo-gucci.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon21::before{
    content: url(/icon/logo-givenchy.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon22::before{
    content: url(/icon/logo-dsquared.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon23::before{
    content: url(/icon/logo-dior.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon24::before{
    content: url(/icon/logo-corteiz.svg);  
    position: relative;
    top:5px;
    right: 5px;
}
.icon25::before{
    content: url(/icon/logo-celine.svg);  
    position: relative;
    top:5px;
    right: 5px;
}

.icon26::before{
    content: url(/icon/logo-burberry.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon27::before{
    content: url(/icon/logo-balmain.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon28::before{
    content: url(/icon/logo-amiri.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon29::before{
    content: url(/icon/logo-essentials.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
.icon30::before{
    content: url(/icon/logo-golden-goose.svg);  
    position: relative;
    top:5px;
    right: 5px;
}    
</style>

<script>
    
    const mobileMenu:any= document.getElementById("mobile-menu")
    const tableMenu:any= document.getElementById("table-menu")
    const closeMenu:any= document.getElementById("close-menu")
    const marcaZapatilla = (document.getElementById("marcaZapatilla") as HTMLInputElement);
   

    let estado = false;

    mobileMenu.addEventListener('click', () => {
        if((window.innerWidth <= 640)){
            marcaZapatilla.classList.toggle('lista-marcas');
            marcaZapatilla.classList.toggle('nav-desplegado-mobile');
            marcaZapatilla.classList.toggle('abierto');

        }

        if (marcaZapatilla.classList.contains('nav-desplegado-mobile')) {
            marcaZapatilla.style.animation = 'despliegueNavMobile 0.5s both';
        } else {
            marcaZapatilla.style.animation = 'ocultarNavMobile 0.5s both';
        }

    })
    
    closeMenu.addEventListener('click', () => {
        if(window.innerWidth <= 960){
            marcaZapatilla.classList.remove('lista-marcas');
            marcaZapatilla.classList.remove('nav-desplegado-mobile');
            marcaZapatilla.classList.remove('abierto');
            marcaZapatilla.style.animation = 'ocultarNavMobile 0.5s both';

        }
    })

    tableMenu.addEventListener('click', () => {
        if((window.innerWidth >= 640 && window.innerWidth <= 960)){
            marcaZapatilla.classList.toggle('lista-marcas');
            marcaZapatilla.classList.toggle('nav-desplegado-mobile');
            marcaZapatilla.classList.toggle('abierto');
        }
        if (marcaZapatilla.classList.contains('nav-desplegado-mobile')) {
            marcaZapatilla.style.animation = 'despliegueNavMobile 0.5s both';
        } else {
            marcaZapatilla.style.animation = 'ocultarNavMobile 0.5s both';
        }

    })
    
    </script>